/* ======== HEADER ========  */
.header {
  background-color: antiquewhite;
  height: 29rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======== CONTAINER ========  */
.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.container h3 {
  font-size: 3rem;
  margin: 2rem 0;
  color: #282828;
  text-align: center;
}

.description p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.description__introduction {
  margin-bottom: 2rem;
  margin-left: 0 !important;
  font-size: 1.1rem;
  display: block !important;
}

.description__key {
  margin-top: 6rem !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

@media all and (max-width: 900px) {
  .container {
    width: 90%;
  }
}

/* ======== KEYS ========  */
.key__items {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  color: #282828;
  margin-bottom: 3rem;
  justify-content: space-evenly;
}

.key__item {
  background-color: #fff;
  max-width: 350px;
  padding: 1rem 1.5rem 2rem;
  margin-bottom: 1rem;

  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.key__item h4 {
  text-transform: uppercase;
}

.key__item i {
  color: #f29956;
  margin-bottom: 1rem;
}

.key__item p {
  margin-top: 1rem;
}

@media all and (max-width: 1574px) {
  .key__items {
    justify-content: center;
  }
}

@media all and (max-width: 1080px) {
  .key__item {
    max-width: 500px;
  }
}
/* ======== COURSES ========  */
.inner_courses {
  display: flex;
  flex-wrap: wrap;
}

.inner_course__item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.inner_course__item a {
  text-decoration: none;
  color: #ababab;
}

.course__top {
  position: relative;
  z-index: 1;
}

.course__top img {
  position: relative;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.course__label {
  position: absolute;
  z-index: 1000;
  background-color: #ffe500;
  color: #282828;
  bottom: 0.7rem;
  right: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.course__info {
  padding: 1rem 1.5rem;
  flex: 1;

  display: flex;
  flex-direction: column;
}

.course__title {
  color: #282828;
  font-size: var(--h6-font-size);
  margin-bottom: 1rem;
}

.course__score {
  margin: 1rem 0;
}

.course__score_text {
  color: #282828;
  font-weight: 600;
  margin-right: 1rem;
}

.course__score_star {
  color: #ee761c;
  margin-right: 0.5em;
}

.course__detail {
  margin-top: auto;
  color: var(--text-color);
}

.course__detail img {
  width: 20px;
  margin-right: 0.7rem;
  margin-bottom: -0.3rem;
}

.course__detail_row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.course__button {
  width: 80% !important;
  height: 3rem !important;
  line-height: 0 !important;
  color: #fff !important;
  font-size: var(--p-font-size) !important;
  cursor: pointer;
}

@media all and (max-width: 900px) {
  .courses {
    justify-content: center;
  }
}

/* ======== TEACHER ========  */
.teachers {
  padding: 0;
  display: flex;
  margin-top: 5rem;
  list-style: none;
}

.teacher-item {
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #ee761c;
  border-left-width: 10px;
}

.teacher-cover {
  height: 300px;
}

.teacher-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.teacher-info div {
  flex: 1;
}

.teacher-title {
  color: #ee761c !important;
  font-size: 2.3rem !important;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}

.teacher-department {
  color: #ee761c;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  text-align: center;
}

.teacher-desc {
  color: #000;
  font-size: 16px;
  padding: 0 1rem 4rem;
  line-height: 1.3;
}

.teacher-desc ul {
  padding-left: 30px;
  list-style-type: disc;
}

@media all and (max-width: 900px) {
  .teacher-info {
    flex-wrap: wrap;
  }
  .teacher-title {
    width: 100%;

  }
  .teacher-desc {
    width: 100%;
  }
}

/* ======== ADVANTAGES ========  */
.advantages {
  text-align: center;
  margin-top: 3rem !important;
}

.advantages h1 {
  margin-bottom: 3rem;
  color: #282828;
}

.advantages h4 {
  font-size: var(--h6-font-size);
}

.advantages__items {
  display: flex;
  position: relative;

  width: 100%;
  flex-wrap: wrap;
  color: #282828;
}

.advantages__item {
  background-color: #fff;
  padding: 1rem 1.5rem 2rem;

  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.advantages__item i {
  color: #f29956;
  margin-bottom: 1rem;
}

.advantages__item p {
  margin-top: 1rem;
}