<div class="contact-wrapper">
  <div class="map-container">
    <div class="dot">
      <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512">
        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
        </path>
      </svg>
    </div>
    <a href="https://www.google.com/maps/place/1311+S+Grand+Ave,+Glendora,+CA+91740,+USA/@34.115753,-117.8758009,17z/data=!3m1!4b1!4m6!3m5!1s0x80c3288176af4619:0xe23fbe4696ca9883!8m2!3d34.1157486!4d-117.8732206!16s%2Fg%2F11bw3_0cpn?entry=ttu" target="_blank" class="address">1311 Grand Ave,<br>Suite 170, Glendora, CA</a>
    <img class="map-image" src="https://img.freepik.com/premium-vector/dotted-world-map-white-background_132079-967.jpg" alt="Map Image">
  </div>
  <div class="contact__form">
    <form action="https://formbold.com/s/3GgXd" method="POST">
      <input type="text" name="name" id="fullName" placeholder="Full Name*" required />
      <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" />
      <input type="email" name="email" id="email" placeholder="Email Address*" required />
      <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
      <select name="services" id="services">
        <option value="Robotics">Robotics Course Inquiry</option>
        <option value="Coding">Coding Course Inquiry</option>
        <option value="DigitalArt">Digital Art Course Inquiry</option>
        <option value="Mentorship">Mentorship Inquiry</option>
        <option value="Consultant">Just want to chat!</option>
      </select>
      <button type="submit">Contact Us!</button>
    </form>
  </div>
</div>