<ul class="teachers flex_card_wrap">
  <li class="teacher-item flex_card_2">
    <div class="teacher-info">
      <img
        class="teacher-cover"
        src="<%- url_for('/data/instructor/Sean.png') %>"
        alt=""
      />
      <div>
        <h3 class="teacher-title">Mr. Sean</h3>
        <h4 class="teacher-department">Math department</h4>
      </div>
    </div>
    <section class="teacher-desc">
      <ul>
        <li>
          Current Ph.D. candidate at Carnegie Mellon University
        </li>
        <li>
          Master’s degree in Information Systems Management from
          Carnegie Mellon University (Ranked first globally)
        </li>
        <li>Bachelor’s degree in Data Science from UC Berkeley</li>
        <li>
          Previous positions at Lawrence Berkeley National Laboratory and
          Intel
        </li>
        <li>
          Author of multiple SCI journal papers and top conferences in the field of Human-Computer Interaction and Internet of Things
        </li>
        <li>
          Extensive experience in college counseling, programming and robotics education
        </li>
      </ul>
    </section>
  </li>

  <li class="teacher-item flex_card_2">
    <div class="teacher-info">
      <img
        class="teacher-cover"
        src="<%- url_for('/data/instructor/no-avatar.png') %>"
        alt=""
      />
      <div>
        <h3 class="teacher-title">Mr. Derek</h3>
        <h4 class="teacher-department">Math department</h4>
      </div>
    </div>
    <section class="teacher-desc">
      <ul>
        <li>
          Master's degree from Harvard&#x2F;MIT Computational
          Science and Engineering Cross-Register Program
        </li>
        <li>
          Bachelor’s degree in Applied Mathematics, dual major in
          Engineering and Physics&#x2F;Computer Science from
          UW-Madison
        </li>
        <li>
          Worked at Harvard Nock Lab, LinkedIn, Baidu, and Siemens
        </li>
        <li>
          Currently employed as a Software Engineer specializing in
          Artificial Intelligence at a leading technology company in
          the Bay Area
        </li>
        <li>
          Former Teaching Assistant for courses in algorithms,
          software system development, high-performance computing, and
          artificial intelligence during undergraduate studies
        </li>
        <li>
          4 years of experience in international education consulting
        </li>
        <li>
          Holds a teaching qualification certificate for high school
          mathematics in China
        </li>
      </ul>
    </section>
  </li>

  <li class="teacher-item flex_card_2">
    <div class="teacher-info">
      <img
        class="teacher-cover"
        src="<%- url_for('/data/instructor/EnochLiu.png') %>"
        alt=""
      />
      <div>
        <h3 class="teacher-title">Mr. Enoch</h3>
        <h4 class="teacher-department">Math department</h4>
      </div>
    </div>
    <section class="teacher-desc">
      <ul>
        <li>
          Master’s degree in Data Science from Harvard University
        </li>
        <li>
          Bachelor’s degree in Applied Mathematics&#x2F;Data Science
          dual major from UC Berkeley
        </li>
        <li>
          Mentored over 20 students in securing offers from
          prestigious institutions such as Harvard, Stanford, MIT,
          Princeton, Columbia, Johns Hopkins, UC Berkeley, and UCLA
        </li>
        <li>
          Teaching Assistant for system development course at Harvard
          University, with extensive programming experience
        </li>
        <li>
          Guided 20+ students in the development of Python libraries
        </li>
      </ul>
    </section>
  </li>
</ul>