<ul class="teachers flex_card_wrap">
  <li class="teacher-item flex_card_2">
    <div class="teacher-info">
      <img
        class="teacher-cover"
        src="<%- url_for('/data/instructor/Sean.png') %>"
        alt=""
      />
      <div>
        <h3 class="teacher-title">Mr. Sean</h3>
        <div class="teacher-contact">
          <a href="#"
            ><i class="fa fa-brands fa-instagram fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-facebook fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-twitter fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-linkedin fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
    <section class="teacher-desc">
      <ul>
        <li>Bachelor’s degree in Data Science from UC Berkeley</li>
        <li>
          Master’s degree in Information Systems Management from
          Carnegie Mellon University (Ranked first globally)
        </li>
        <li>
          Previous roles at Lawrence Berkeley National Laboratory and
          Intel
        </li>
        <li>
          Current position as Technical Director at Carnegie Mellon
          University’s PEEX Lab
        </li>
        <li>
          Author of two SCI journal papers, demonstrating academic
          research contributions
        </li>
        <li>
          Extensive experience in programming, robotics education, and
          academic advising
        </li>
      </ul>
    </section>
  </li>

  <li class="teacher-item flex_card_2">
    <div class="teacher-info">
      <img
        class="teacher-cover"
        src="<%- url_for('/data/instructor/no-avatar.png') %>"
        alt=""
      />
      <div>
        <h3 class="teacher-title">Mr. Derek</h3>
        <div class="teacher-contact">
          <a href="#"
            ><i class="fa fa-brands fa-instagram fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-facebook fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-twitter fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-linkedin fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
    <section class="teacher-desc">
      <ul>
        <li>
          Bachelor’s degree in Applied Mathematics, dual major in
          Engineering and Physics&#x2F;Computer Science from
          UW-Madison
        </li>
        <li>
          Graduate participant in the Harvard&#x2F;MIT Computational
          Science and Engineering Cross-Register Program
        </li>
        <li>
          Worked at Harvard Nock Lab, LinkedIn, Baidu, and Siemens
        </li>
        <li>
          Currently employed as a Software Engineer specializing in
          Artificial Intelligence at a leading technology company in
          the Bay Area
        </li>
        <li>
          Former Teaching Assistant for courses in algorithms,
          software system development, high-performance computing, and
          artificial intelligence during undergraduate studies
        </li>
        <li>
          Participated in ICPC (International Collegiate Programming
          Contest)
        </li>
        <li>
          4 years of experience in international education consulting
        </li>
        <li>Previous roles as an ACT and GRE instructor</li>
        <li>
          Holds a teaching qualification certificate for high school
          mathematics in mainland China
        </li>
      </ul>
    </section>
  </li>

  <li class="teacher-item flex_card_2">
    <div class="teacher-info">
      <img
        class="teacher-cover"
        src="<%- url_for('/data/instructor/EnochLiu.png') %>"
        alt=""
      />
      <div>
        <h3 class="teacher-title">Mr. Enoch</h3>
        <div class="teacher-contact">
          <a href="#"
            ><i class="fa fa-brands fa-instagram fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-facebook fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-twitter fa-lg"></i
          ></a>
          <a href="#"
            ><i class="fa fa-brands fa-linkedin fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
    <section class="teacher-desc">
      <ul>
        <li>
          Bachelor’s degree in Applied Mathematics&#x2F;Data Science
          dual major from UC Berkeley
        </li>
        <li>
          Master’s degree in Data Science from Harvard University
        </li>
        <li>
          Mentored over 20 students in securing offers from
          prestigious institutions such as Harvard, Stanford, MIT,
          Princeton, Columbia, Johns Hopkins, UC Berkeley, and UCLA
        </li>
        <li>
          Teaching Assistant for system development course at Harvard
          University, with extensive programming experience
        </li>
        <li>
          Guided 20+ students in the development of Python libraries
        </li>
      </ul>
    </section>
  </li>
</ul>