@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"
@import url("https://fonts.googleapis.com/css?family=Karla")

global-reset()

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body, #container
  height: 100%

body
  background: color-background
  font-family: "Karla", sans-serif;
  -webkit-text-size-adjust: 100%

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  background: color-background
  .mobile-nav-on &
    left: mobile-nav-width

h1 {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  font-weight: 700;
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: var(--h4-font-size);
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

p {
  font-size: var(--p-font-size);
  color: var(--text-color);
  line-height: 1.3rem;
}

.padding_container {
  padding: 0 var(--globalPadding);
  width: 100%;
}

.flex_card_wrap {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.secondary-hero {
  height: 90vh;
}

.secondary-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 16, 3, 0.7); 
  z-index: 1;
  height: 90vh;
}

.secondary-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.secondary-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-size: var(--h1-font-size);
  font-weight: 700;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 10px;
  z-index : 2;
}

@media only screen and (max-width: 768px) {
  .flex_card_2 {
    width: 100%;
  }
  .flex_card_3 {
    width: 100%;
  }
  .flex_card_4 {
    width: 100%;
  }
  .flex_card_5 {
    width: calc(50% - 1rem);
  }
  .bottom_gap {
    margin-bottom: var(--small-gap);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .flex_card_3 {
    width: calc(50% - 1rem);
  }
  .flex_card_4 {
    width: calc(50% - 1rem);
  }
  .flex_card_5 {
    width: calc(33.333% - 1rem);
  }
  .bottom_gap {
    margin-bottom: var(--medium-gap);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .flex_card_2 {
    width: calc(50% - 1rem);
  }
  .flex_card_3 {
    width: calc(33.333% - 1rem);
  }
  .flex_card_4 {
    width: calc(25% - 1rem);
  }
  .flex_card_5 {
    width: calc(20% - 1rem);
  }

  .bottom_gap {
    margin-bottom: var(--huge-gap);
  }

  .flex_card_wrap {
    justify-content: space-between;
  }
}

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"
@import "home";

if sidebar
  @import "_partial/sidebar"

