/* ======== NAVIGATION ========  */
.toggle,
[id^="drop"] {
  display: none;
}

nav {
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  width: calc(100vw - var(--globalPadding) * 2);

  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);

  border-radius: 7px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

nav ul {
  padding: 10px;
  margin: 0;
  list-style: none;
  position: relative;

  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  background-color: #fff;

}

nav ul li {
  margin: 0px;
  display: inline-block;
  
  font-weight: bold;
}

nav a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--p-font-size);
}

nav a:hover {
  color: #282828;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover > ul {
  display: inherit;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul ul li {
  display: list-item;
  position: relative;

  padding: 0.5rem 1rem;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:only-child:after {
  content: "";
}

@media all and (max-width: 900px) {
  nav {
    width: 85%;
  }

  .nav__logo {
    width: 200px !important;
  }
}

@media all and (max-width: 1240px) {
  nav {
    margin: 0;
    width: 100%;
    padding-inline: 2rem;

    flex-wrap: wrap;
    height: 60px;
  }

  img.nav__logo {
    object-fit: cover;
  }

  .toggle + a,
  .menu {
    display: none;
  }

  .menu_label {
    float: right;
    font-weight: 600;
  }

  .toggle {
    display: block;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  .toggle {
    color: #282828;
  }

  nav ul {
    margin: 1rem;
    flex-basis: 100%;
  }

  [id^="drop"]:checked + ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
    padding-block: 0.5rem;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 0px;
  }

  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    margin: 0;
  }

  nav ul li:hover > ul {
    box-shadow: none;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

.nav__logo {
  width: 250px;
  height: 100%;
}

.nav__list_active_item {
  color: #f29956;
}
.nav__list_active_item:hover {
  color: #f29956;
}

.toggle.menu_label svg { 
  fill: #646464;
}