<footer class="footer padding_container">
  <div class="footer__container flex_card_wrap">
    <div class="footer__column flex_card_5">
      <img class="footer__column_title" src="../static/picture/logo.png" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam,
      </p>
    </div>
    <div class="footer__column flex_card_5" id="footer-services">
      <h3 class="footer__column_title">SERVICES</h3>
      <a href="./robotics.html">Robotics</a>
      <a href="./coding.html">Coding</a>
      <a href="./digital.html">Digital Art</a>
      <a href="./mentorship.html">Mentorship</a>
    </div>
    <div class="footer__column flex_card_5">
      <h3 class="footer__column_title">USEFULL LINKS</h3>
      <a href="./home.html">Home</a>
      <a href="./about.html">About</a>
      <a href="./gallery.html">Gallery</a>
      <a href="./news.html">News</a>
      <a href="./contact.html">Contact</a>
    </div>
    <div class="footer__column flex_card_5">
      <h3 class="footer__column_title">FOLLOW US ON</h3>
      <a href="#"><i class="fa fa-brands fa-instagram fa-lg"></i> Instagram</a>
      <a href="#"><i class="fa fa-brands fa-facebook fa-lg"></i> Facebook</a>
      <a href="#"><i class="fa fa-brands fa-twitter fa-lg"></i> Twitter</a>
      <a href="#"><i class="fa fa-brands fa-linkedin fa-lg"></i>LinkedIn</a>
    </div>
    <div class="footer__column flex_card_5">
      <h3 class="footer__column_title">WE CHAT</h3>
      <img src="../static/picture/qrcode.png" />
    </div>
  </div>
  <div class="footer__contact flex_card_wrap">
    <div class="flex_card_3 footer_card">
      <i class="fa fa-solid fa-at fa-lg"></i>
      <p>happykidsrobotics@gmail.com</p>
    </div>
    <div class="flex_card_3 footer_card">
      <i class="fa fa-solid fa-phone fa-lg"></i>
      <p>858-315-9999</p>
    </div>
    <div class="flex_card_3 footer_card">
      <i class="fa fa-solid fa-location-arrow fa-lg"></i>
      <p>1311 S Grand Ave, Suite 170, Glendora, CA</p>
    </div>
  </div>
  <hr class="footer__divide" />
  <p class="footer__copyRight">
    Copyright 2024 <span>Happy Kids Education, California</span> All Rights
    Reserved
  </p>
</footer>