@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

/* ======== COMMMON ========  */
:root {
  --globalPadding: calc(17.5862068965517vw + -58.3103448275862px);
  --accentColor: #ee761c;
  overflow-x: hidden;
  --huge-gap: 100px;
  --medium-gap: 50px;
  --small-gap: 25px;

  --h1-font-size: calc(0.957051282051282vw + 41.3446153846154px);
  --h2-font-size: calc(0.798076923076923vw + 34.4469230769231px);
  --h3-font-size: calc(0.66474358974359vw + 28.7069230769231px);
  --h4-font-size: calc(0.553846153846154vw + 23.9261538461539px);
  --h5-font-size: calc(0.461538461538462vw + 19.9384615384615px);
  --h6-font-size: calc(0.384615384615385vw + 16.6153846153846px);
  --p-font-size: calc(0.192307692307692vw + 14.3076923076923px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

h4 {
  font-size: var(--h4-font-size);
  margin-bottom: 1rem;
}

p {
  font-size: var(--p-font-size);
}

.padding_container {
  padding: 0 var(--globalPadding);
  width: 100%;
}

.flex_card_wrap {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .flex_card_2 {
    width: 100%;
  }
  .flex_card_3 {
    width: 100%;
  }
  .flex_card_4 {
    width: 100%;
  }
  .flex_card_5 {
    width: calc(50% - 1rem);
  }
  .bottom_gap {
    margin-bottom: var(--small-gap);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .flex_card_3 {
    width: calc(50% - 1rem);
  }
  .flex_card_4 {
    width: calc(50% - 1rem);
  }
  .flex_card_5 {
    width: calc(33.333% - 1rem);
  }
  .bottom_gap {
    margin-bottom: var(--medium-gap);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .flex_card_2 {
    width: calc(50% - 1rem);
  }
  .flex_card_3 {
    width: calc(33.333% - 1rem);
  }
  .flex_card_4 {
    width: calc(25% - 1rem);
  }
  .flex_card_5 {
    width: calc(20% - 1rem);
  }

  .bottom_gap {
    margin-bottom: var(--huge-gap);
  }

  .flex_card_wrap {
    justify-content: space-between;
  }
}


/* ======== CAROUSEL ========  */
carousel-indicators {
  z-index: 999;
  min-height: 500px;
}

.carousel-indicators-wave {
  bottom: 60px;
}

.carousel-indicators li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 9px;
  margin-right: 9px;
  background-color: #f0f0f0;
}

.carousel-item {
  /* height: 591px; */
  background-color: #ccc;
}

.carousel-caption {
  left: unset;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(
    270deg,
    #5bcaff 25.52%,
    rgba(193, 236, 255, 0) 100%
  );
}

.carousel-caption h5 {
  width: 564px;
  height: 267px;
  color: #fff;
  text-align: right;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: -0.6px;
  margin-right: 18%;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  z-index: 20;
}