/* ======== HEADER ========  */
.header {
  background-color: antiquewhite;
  height: 29rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======== CONTAINER ========  */
.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.container h3 {
  font-size: 3rem;
  margin: 2rem 0;
  color: #282828;
  text-align: center;
}

.description p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.description__introduction {
  margin-bottom: 2rem;
  margin-left: 0 !important;
  font-size: 1.1rem;
  display: block !important;
}

.description__key {
  margin-top: 6rem !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

@media all and (max-width: 900px) {
  .container {
    width: 90%;
  }
}

/* ======== KEYS ========  */
.key__items {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  color: #282828;
  margin-bottom: 3rem;
}

.key__item {
  background-color: #fff;
  max-width: 350px;
  padding: 1rem 1.5rem 2rem;
  margin-bottom: 1rem;

  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.key__item h4 {
  text-transform: uppercase;
}

.key__item i {
  color: #f29956;
  margin-bottom: 1rem;
}

.key__item p {
  margin-top: 1rem;
}

@media all and (max-width: 1574px) {
  .key__items {
    justify-content: center;
  }
}

@media all and (max-width: 1080px) {
  .key__item {
    max-width: 500px;
  }
}
/* ======== COURSES ========  */
.courses {
  margin-block: 3rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.course__item {
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.course__item a {
  text-decoration: none;
  color: #ababab;
}

.course__top {
  position: relative;
  z-index: 1;
}

.course__top img {
  position: relative;
  width: 100%;
}

.course__label {
  position: absolute;
  z-index: 1000;
  background-color: #ffe500;
  color: #282828;
  bottom: 0.7rem;
  right: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.course__info {
  padding: 1rem 1.5rem;
  height: 100%;
}

.course__title {
  color: #282828;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.course__score {
  margin-top: 2rem;
}

.course__score_text {
  color: #282828;
  font-weight: 600;
  margin-right: 1rem;
}

.course__score_star {
  color: #ee761c;
  margin-right: 0.5em;
}

@media all and (max-width: 900px) {
  .courses {
    justify-content: center;
  }

  .course__item {
    width: 400px;
  }
}
