@import url('common.css');

/* ======== FOOTER ========  */
.footer {
  background-color: #f3f3f3;
  padding-top: 5rem;
}

.footer h3 { 
  font-size: var(--h5-font-size);
  margin-bottom: 1rem;
}

.footer__container {
  display: flex;
  margin-bottom: 3rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column p {
  color: #828282;
  margin-bottom: 0.7rem;
}

.footer__column a {
  color: #828282;
  text-decoration: none;
  margin-bottom: 0.7rem;

  display: flex;
  align-items: center;
}

@media all and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__column {
    margin-bottom: 2rem;
  }

  #footer-services { 
    padding-left: 0;
  }
}

.footer__contact {
  display: flex;
}

.footer__contact div {
  background-color: #ebebeb;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;

  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.footer__contact i {
  color: #ee761c;
}

.footer__contact p {
  color: #828282;
}

.footer__divide {
  border: none;
  border-top: solid 0.5px #828282;
  background-color: #828282;
}

.footer__copyRight {
  color: #828282;
  text-align: center;
  padding: 1.5rem 0;
}

.footer__copyRight span {
  color: #ee761c;
}/* ======== FOOTER ========  */
.footer {
  background-color: #f3f3f3;
  padding-top: 5rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_title {
  margin-bottom: 2rem;
  color: #ee761c;
}

.footer__column p {
  color: #828282;
  margin-bottom: 0.7rem;
}

.footer__column a {
  color: #828282;
  text-decoration: none;
  margin-bottom: 0.7rem;

  display: flex;
  align-items: center;
}

.footer__column a i {
  width: 25px;
}

.footer__column img {
  width: 90%;
}

.footer__contact {
  display: flex;
  width: calc(100vw - var(--globalPadding) * 2);
  margin-bottom: 2rem;
}

.footer__contact div {
  background-color: #ebebeb;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;

  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.footer__contact i {
  color: #ee761c;
}

.footer__contact p {
  color: #828282;
}

@media screen and (min-width: 768px) {
  #footer-services { 
    padding-left: 2rem;
  }
}

.footer_card {
  min-height: 70px;
}