@import url("common.css");

/* ======== HEADER ========  */
.header {
  background-image: url("../static/picture/012.png");
  height: 29rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======== BODY ========  */
.body {
  background-color: blanchedalmond;
  width: 100vw;
  padding-bottom: 2rem;
}

/* ======== COURSES ========  */

.courses {
  display: flex;

  position: relative;
  top: -2rem;
  width: 100%;

  box-sizzing: border-box;
}

.courses_item {
  background-color: #fff;
  padding-bottom: 2rem;

  border-radius: 10px;

  cursor: pointer;

  box-sizing: border-box;
}

.courses_item a {
  text-decoration: none;
}

.courses_item img {
  width: 100%;
}

.courses_item h2 {
  color: #61b9f5;
  text-align: center;
  font-size: var(--h4-font-size);
}

.courses_item p {
  color: #ababab;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  padding: 0 2rem;
}

/* ======== ABOUT US ========  */
.aboutUs {
  margin: 0 auto 10rem;
  display: flex;
  gap: 4rem;
}

.aboutUs img {
  width: 45%;
  height: max-content;

  border-radius: 10px;
}

.aboutUs__content h1 {
  margin-bottom: 1.3rem;
  color: #282828;
}

.aboutUs__content p {
  color: #ababab;
  line-height: 1.8rem;
}

@media all and (max-width: 1080px) {
  .aboutUs {
    flex-direction: column;
  }

  .aboutUs img {
    margin: 0 auto;
    width: 100%;
    height: max-content;
  }
}

/* ======== ADVANTAGES ========  */
.advantages {
  text-align: center;
}

.advantages h1 {
  margin-bottom: 3rem;
  color: #282828;
}

.advantages h4 {
  font-size: var(--h6-font-size);
}

.advantages__items {
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;
  flex-wrap: wrap;
  color: #282828;
}

.advantages__item {
  background-color: #fff;
  padding: 1rem 1.5rem 2rem;
  height: 280px;

  text-align: left;
}

.advantages__item i {
  color: #f29956;
  margin-bottom: 1rem;
}

.advantages__item p {
  color: #ababab;
  margin-top: 1rem;
}

/* ======== GALLERY ========  */
.gallery {
  background-color: #282828;
  padding: 4rem 0 2rem;
}

.gallery__content {
  margin: 0 auto 3rem;

  text-align: center;
}

.gallery__content h1 {
  margin-bottom: 2rem;
  color: #fff;
}

.gallery__content button {
  margin-top: 1rem;
  padding: 1.2rem 4rem;
  border-radius: 10px;
  outline: none;
  border: none;
}

.gallery__content button a {
  text-decoration: none;
  color: #282828;
  font-weight: 600;
  font-size: 1.1rem;
}

.gallery__items {
  display: flex;
}

.gallery__items img {
  height: 320px;
  margin-bottom: 2rem;
  border-radius: 10px;
  object-fit: cover;
}

/* ======== NEWS ========  */
.news {
  text-align: center;
}

.news h1 {

  color: #282828;
}

.news__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__item {
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.news__item a {
  text-decoration: none;
}

.news__item img {
  width: 100%;
}

.news__item_calendar {
  margin-bottom: 1rem;
  color: #828282;
}

.news__item_content {
  padding: 1rem;
}

.news__item_content h3 {
  margin-bottom: 1rem;
  color: #282828;
  font-size: var(--h6-font-size);
}

.news__item_content p {
  color: #ababab;
}

/* ======== CONTACT ========  */
.contact {
  text-align: center;
}

.contact h1 {
  margin-bottom: 3rem;
  color: #282828;
}

.contact__form {
  display: flex;
  justify-content: flex-end;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 320px;
  padding: 1.7rem;
  border-radius: 10px;

  background-color: #fff;
}

.contact__form form input,
.contact__form form textarea,
.contact__form form select {
  background-color: #f3f3ff;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: #858586;
  font-weight: 540;
  font-size: 1.1rem;

  resize: vertical;
}

.contact__form form button {
  background-color: #ee761c;
  color: #fff;
  border: none;
  outline: none;

  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
}
