/* ======== HEADER ========  */
.header {
  background-image: url("../static/picture/012.png");
  height: 29rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======== BODY ========  */
.body {
  background-color: blanchedalmond;
  padding-bottom: 2rem;
}

/* ======== COURSES ========  */
.courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;
  top: -2rem;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  gap: 0.8rem;

  box-sizing: border-box;
}

.courses_item {
  background-color: #fff;
  width: 300px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  border-radius: 10px;
  overflow: hidden;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  box-sizing: border-box;
}

.courses_item a {
  text-decoration: none;
}

.courses_item:hover {
  transform: scale(1.02);
  border: solid 2px #61b9f5;
}

.courses_item:active {
  transform: scale(1);
  border: solid 2px #61b9f5;
}

.courses_item img {
  width: 100%;
}

.courses_item h2 {
  color: #61b9f5;
  text-align: center;
  margin-bottom: 1rem;
}

.courses_item p {
  color: #ababab;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  padding: 0 2rem;
}
@media all and (max-width: 1100px) {
  .courses {
    gap: 2rem;
    top: 1rem;
  }
  .courses_item {
    flex: 0.6;
    min-width: 300px;
  }
}

@media all and (max-width: 900px) {
  .courses {
    justify-content: space-evenly;
    width: 90%;
  }
}

/* ======== ABOUT US ========  */
.aboutUs {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  display: flex;
  gap: 4rem;
}

.aboutUs img {
  width: 45%;
  height: max-content;

  border-radius: 10px;
}

.aboutUs__content h1 {
  font-size: 2.4rem;
  margin-bottom: 1.3rem;
  color: #282828;
}

.aboutUs__content p {
  color: #ababab;
  line-height: 1.8rem;
}

@media all and (max-width: 1080px) {
  .aboutUs {
    flex-direction: column;
  }

  .aboutUs img {
    margin: 0 auto;
    width: 90%;
    height: max-content;
  }
}

@media all and (max-width: 900px) {
  .aboutUs {
    width: 90%;
  }

  .aboutUs img {
    width: 100%;
  }
}

/* ======== ADVANTAGES ========  */
.advantages {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto 10rem;

  text-align: center;
}

.advantages h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #282828;
}

.advantages__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 2rem;

  flex-wrap: wrap;
  color: #282828;
}

.advantages__item {
  background-color: #fff;
  max-width: 350px;
  padding: 1rem 1.5rem 2rem;
  margin-bottom: 1rem;

  text-align: left;
}

.advantages__item i {
  color: #f29956;
  margin-bottom: 1rem;
}

.advantages__item p {
  color: #ababab;
  margin-top: 1rem;
}

@media all and (max-width: 1080px) {
  .advantages__items {
    justify-content: center;
  }
  .advantages__item {
    justify-content: center;
    align-items: center;
    max-width: 500px;
  }
}

@media all and (max-width: 900px) {
  .advantages {
    width: 90%;
  }
}

/* ======== GALLERY ========  */
.gallery {
  background-color: #282828;
  padding: 4rem 0 2rem;
}

.gallery__content {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto 3rem;

  text-align: center;
}

.gallery__content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
}

.gallery__content button {
  margin-top: 1rem;
  padding: 1.2rem 4rem;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.gallery__content button:hover {
  transform: translateY(-1.5px);
  transform: scale(1.01);
}

.gallery__content button a {
  text-decoration: none;
  color: #282828;
  font-weight: 600;
  font-size: 1.1rem;
}

.gallery__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery__items img {
  width: 300px;
  height: 320px;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media all and (max-width: 1080px) {
  .gallery__items {
    justify-content: center;
    gap: 2rem;
  }
}

@media all and (max-width: 900px) {
  .gallery__content {
    width: 90%;
  }

  .gallery__items img {
    width: 350px;
    height: 390px;
    margin-bottom: 2rem;
    border-radius: 10px;
  }
}

/* ======== NEWS ========  */
.news {
  width: 80%;
  max-width: 1280px;
  margin: 8rem auto 10rem;

  text-align: center;
}

.news h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #282828;
}

.news__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__item {
  width: 300px;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  text-align: left;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.news__item a {
  text-decoration: none;
}

.news__item:hover {
  transform: translateY(-3px);
}

.news__item:active {
  transform: translateY(0);
}

.news__item img {
  width: 100%;
}

.news__item_calendar {
  margin-bottom: 1rem;
  color: #828282;
}

.news__item_content {
  padding: 1rem;
}

.news__item_content h3 {
  margin-bottom: 1rem;
  color: #282828;
}

.news__item_content p {
  color: #ababab;
}

@media all and (max-width: 1165px) {
  .news__items {
    justify-content: center;
    gap: 2rem;
  }

  .news__item {
    justify-content: center;
    align-items: center;
    width: 410px;
  }
}

@media all and (max-width: 1040px) {
  .news__item {
    width: 500px;
  }
}

@media all and (max-width: 900px) {
  .news {
    width: 90%;
  }
}

/* ======== CONTACT ========  */
.contact {
  width: 80%;
  max-width: 1280px;
  margin: 8rem auto 10rem;

  text-align: center;
}

.contact h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #282828;
}

.contact__form {
  display: flex;
  justify-content: flex-end;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 320px;
  padding: 1.7rem;
  border-radius: 10px;

  background-color: #fff;
}

.contact__form form input,
.contact__form form textarea,
.contact__form form select {
  background-color: #f3f3ff;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: #858586;
  font-weight: 540;
  font-size: 1.1rem;
}

.contact__form form button {
  background-color: #ee761c;
  color: #fff;
  border: none;
  outline: none;

  font-size: 1.1rem;
  padding: 1rem;
  cursor: pointer;
}
