<div class="advantages__item flex_card_3" style="height: <%- height %>;">
  <i class="fa fa-check-square fa-4x" aria-hidden="true"></i>
  <h4><%- title %></h4>
  <!-- <p>
    <%- content %>
  </p> -->
</div>